<h1>New Author</h1>
<form #newAuthor="ngForm" (ngSubmit)="addAuthor()">
<div class="container">
  <mat-form-field>
    <input type="text" matInput 
        placeholder="Authr name" 
        [(ngModel)]="name"
        name = "newName"
        #newName required>
  </mat-form-field>
  <br>
<button mat-raised-type="button" class="btn btn-primary">Submit</button>
</div>
</form>