<h1>Edit Author</h1>
<form #editForm="ngForm" (ngSubmit)="onSubmit()"><!--  ניתן לעקוב אחר מצבם של השדות בטופס באמצעות משתנה מקומי ניתן לעקוב אחרי כל הטופס באותה שיטה-->
  <div class="container">
    <mat-form-field>
      <input matInput name="nameOfAuthor" type="text" [(ngModel)]="author" required  #edit = "ngModel" >
    </mat-form-field>
<button mat-raised-type="button" class="btn btn-primary">Submit</button>
</div>
</form>