<div class="container">
    <br><h2>{{headerText}}</h2>
<form #postForm="ngForm" (ngSubmit)="onSubmit()"><!--  ניתן לעקוב אחר מצבם של השדות בטופס באמצעות משתנה מקומי ניתן לעקוב אחרי כל הטופס באותה שיטה-->
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Post title" name="title" [(ngModel)]="title"
                       required #addPostTitle>
    </mat-form-field><br>
    <mat-form-field>
        <input matInput placeholder="Post body" name="body" [(ngModel)]="body"
                         required #addPostbody>
      </mat-form-field><br>
    <mat-form-field>
        <input matInput placeholder="Author name" name="author" [(ngModel)]="author"
                         required #addPostAuthor>
    </mat-form-field><br>  

   <button mat-raised-button color="primary" [disabled]="!postForm.form.valid">{{buttonText}}</button>
    <button mat-raised-type routerLink= "/posts" class="btn btn-secondary">cancel</button>
    
</div>
  </form>
</div>
