<p *ngIf="!(authors$|async)">Loding...</p><!--כותב הודעה עד לרגע שיתקבל בחזרה מה שאני מחכה לו-->
<mat-selection-list #authorsArray>
    <mat-list-option *ngFor="let author of authors$|async">
      {{author.name}}
     <!--<a [routerLink]="['/editauthor',author.id,author.name,'edit']" routerLinkActive="active">Edit</a>-->
    </mat-list-option>
</mat-selection-list>  
<p>

 <a routerLink="/add-authrs" routerLinkActive="active"> Add authr</a><br><br>   
    Options selected: {{authorsArray.selectedOptions.selected.length}}
</p><!--פסקה שרושמת לנו את מספר האופציות שסומנו כלומר שנבחרו -->
